* {
    box-sizing: border-box;
  }

html {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-color: #F2F2F2;
}

.container {
      display: grid;
      margin: 0 5rem;
      grid-template-columns: 2fr 6fr 2fr 2fr;
      grid-template-rows: 5rem;
      grid-gap: 2rem 2rem;
      grid-template-areas: "brand brand nav nav"
                            "form form map address"
                            "footer footer footer footer";
}

.brand-logo {
    grid-area: brand;
    justify-self: left;
    align-self: center;
}

.navigation {
    grid-area: nav;
    justify-self: right;
    align-self: center;
}

.navigation a {
    color: black;
    text-decoration: none;
}

.contact-form {
    grid-area: form;
    justify-self: right;
    align-self: center;
    width: 70%;
}

.map img {
    grid-area: map;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.address {
    grid-area: address;
    align-self: center;
    justify-self: center;
}

.footer {
    grid-area: footer;
    align-self: center;
    justify-self: left;
}

fieldset {
    border: none;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 20px;
    border: 1px solid black;
}

label, span {
    line-height: 2rem;
    font-size: 20px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}