.container {
    display: grid;
    margin: 0 5rem;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    /* fraction
     2 + 6 + 2 + 2 = 12
     6 / 12 = 0.5 ---> 50%
    */
    grid-template-rows: 5rem;
    grid-gap: 2rem 1rem;
    grid-template-areas:
        "logo logo menu menu"
        "offer content content posts"
        "footer footer footer footer";
}

.logo {
    grid-area: logo;
    align-self: center;
}

.main-menu {
    grid-area: menu;
    /* align-self: center;
    justify-self: end; */
    place-self: center end;
}

.special-offer {
    grid-area: offer;
    align-self: center;
}

.content-area {
    grid-area: content;
}

.latest-posts {
    grid-area: posts;
    justify-self: end;
}

.footer {
    grid-area: footer;
}