html {
  font-size: 18px;
}

body {
  padding: 50px;
}

section {
  background-color: #888;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 1rem;
  padding: 1rem;
}

main {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: [start] 10rem [second] 15rem [third] 5rem [end];
  grid-template-rows: 5rem 10rem 3rem auto;
}

.sect-a {
  grid-column: start/third;
}

.sect-c {
  grid-row: 2/4;
}

.sect-d {
  grid-column: 2/end;
}

.sect-a::after {
  content: 'Section A';
}
.sect-b::after {
  content: 'Section B';
}
.sect-c::after {
  content: 'Section C';
}
.sect-d::after {
  content: 'Section D';
}
.sect-e::after {
  content: 'Section E';
}
.sect-f::after {
  content: 'Section F';
}
.sect-g::after {
  content: 'Section G';
}